<div class="black-background animated fadeIn wow">
  <div class="container">
    <div class="row footer-block">
      <div class="col-md-10 col-md-offset-1">
        {% for footer in site.data.footer %}
        <div class="row">
          <div class="col-md-4">
            <ul class="footer-list">
              <li><a href="{{ footer.contact-link }}">{{ footer.contact-title }}</a></li>
              <!-- Para el contacto te recomendamos vincular un cuestionario de google forms -->
              <li>{{ footer.organizer-name }}</li>
              <p>{{ footer.organizer-text }} <a href="{{ footer.organizer-link }}">{{ footer.organizer-text-title }}</a></p>
            </ul>

          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <ul class="footer-icons">
              <li><a href="{{ footer.twitter }}"><img src="/img/icon-twitter.svg" /></a></li>
              <li><a href="{{ footer.facebook }}"><img src="/img/icon-facebook.svg" /></a></li>
              <li><a href="{{ footer.instagram }}"><img src="/img/icon-instagram.svg" /></a></li>
              <li><a href="{{ footer.linkedin }}"><img src="/img/icon-linkedin.svg" /></a></li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
