<div class="black-background animated fadeIn wow">
  <div class="container">
    <div class="row footer-block">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4">
            {% for contact in site.data.footer-contact %}
            <ul class="footer-list">
              <li><a href="{{ footer.contact-link }}">{{ contact.contact-title }}</a></li>
              <!-- Para el contacto te recomendamos vincular un cuestionario de google forms -->
              <li>{{ contact.organizer-name }}</li>
              <p>{{ contact.organizer-text }} <a href="{{ contact.organizer-link }}">{{ contact.organizer-text-title }}</a></p>
            </ul>
            {% endfor %}
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            {% for social_hash in site.data.social %}
            {% assign social = social_hash[1] %}
            <ul class="footer-icons">
              {% for s in social.social %}
              <li><a href="{{ s.address }}"><img src="{{ site.baseurl }}{{ s.image }}" /></a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
