//Google font for the template
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

// Hackatones variables
$main-color: #ffffff;
$title-color: #393c3e;
$text-color: #a7a9ac;
$almost-white: #f2f2f2;
$light-grey: #d7d8d8;
$almost-black: #050505;
$red: #d0021b;

html {
  font-size: 100%;
}
body {
  padding-top: 50px;
}

p {
  color: darken($text-color, 30% );
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.starter-template {
  padding: 70px 15px;
  text-align: center;
}

.white-block {
  margin: 5.313em 0;

  @media portrait and (max-width:767px) {
    margin: 2.625em 0;
  }

  ul, ol {
    margin: 0!important;
  }

  h2 {
    border-bottom: solid 1px $red;
    color: $almost-black;
    font-family: 'Oswald', sans-serif;
    font-size: 2.250em;
    font-weight: 300;
    margin-bottom: 0.938em;
    padding-bottom: 1.250em;
    text-align: center;
    @media portrait and (max-width:767px) {
      padding-bottom: 0.938em;
    }
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.500em;
    font-weight: 300;
  }

  h4 {
    color: $main-color;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
  }

  a {
    color: $main-color;
  }

  a:hover, a:visited {
    color: darken($main-color, 25%);
  }

  li {
    list-style: none;
  }

  .post-list {
    margin-bottom: 2.5em;
    padding-bottom: 2em;
    border-bottom: 1px solid $light-grey;
    @media portrait and (max-width:767px) {
      margin-bottom: 1.875em;
    }

    a{
      color: $almost-black;
    }
  }

  .post-date {
    color: $text-color;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 0.938em;
  }

  .post-title {
    color: $almost-black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.500em;
    font-weight: 300;
  }
}

.white-block-bis {
  margin: 5.313em 0 0 0;
  @media portrait and (max-width:767px) {
    margin: 2.625em 0 0 0;
  }

  h2 {
    border-bottom: solid 1px $red;
    color: $almost-black;
    font-family: 'Oswald', sans-serif;
    font-size: 2.250em;
    font-weight: 300;
    margin-bottom: 0.938em;
    padding-bottom: 1.250em;
    text-align: center;
    @media portrait and (max-width:767px) {
      padding-bottom: 0.938em;
    }
  }

  h4 {
    color: $almost-black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
  }

  li {
    list-style: none;
  }
}

.grey-background {
  background-color: $text-color;
}

.grey-block {
  margin: 5.313em 0 0 0;
  @media portrait and (max-width:767px) {
    margin: 2.625em 0 0 0;
  }

  h2 {
    border-bottom: solid 1px $light-grey;
    color: $main-color;
    font-family: 'Oswald', sans-serif;
    font-size: 2.250em;
    font-weight: 300;
    margin-bottom: 0.938em;
    padding-bottom: 1.250em;
    text-align: center;
    @media portrait and (max-width:767px) {
      padding-bottom: 0.938em;
    }
  }

  h3 {
    color: $main-color;
    font-family: 'Oswald', sans-serif;
    font-size: 2.250em;
    font-weight: 300;
    padding-bottom: 1.250em;
    text-align: center;
    @media portrait and (max-width:767px) { padding-bottom: 0;}
    @media(min-width:768px){}
    @media(min-width:992px){}
    @media(min-width:1200px){}

  }

  p {
    color: $almost-white;
  }

  li {
    list-style: none;
  }

}

.main-color-background {
  background-color: $main-color;
}

.main-color-block {
  margin: 5.313em 0 0 0;
  @media portrait and (max-width:767px) {
    margin: 2.625em 0 0 0;
  }

  h2 {
    color: $almost-black;
    font-family: 'Oswald', sans-serif;
    font-size: 2.250em;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 1.5em;
    text-align: center;
    @media portrait and (max-width:767px) {
      padding-bottom: 0.938em;
    }
  }

  .border-title {
    border-bottom: solid 1px $red;
    margin-bottom: 0.938em;
  }

  h3 {
    color: $text-color;
    font-family: 'Oswald', sans-serif;
    font-size: 2.250em;
    font-weight: 300;
    padding-bottom: 1.250em;
    text-align: center;
    @media portrait and (max-width:767px) {
      padding-bottom: 0;
    }
  }

  p {
    color: darken($text-color, 30% );
  }

  ul {
    margin-left: 0;
    margin-bottom: 0!important;
  }

  li {
    list-style: none;
  }

  .map {
    height: 31.250em;
    margin-bottom: 5.313em;
    width: 100%;
    @media portrait and (max-width:767px) {
      margin-bottom: 2.625em;
    }
  }
}

.award {
  margin: 0!important;
  padding: 0!important;

  figure {
    display: block;
    margin: 0;

    img {
      width: 100%;
    }
  }

  figcaption {
    background: rgba(255,255,255,0.8);
    bottom: 0;
    padding: 3rem;
    position: absolute;
    width: 100%;

    h4 {
      color: $almost-black;
      font-family: 'Oswald', sans-serif;
      margin: 0;
      padding: 0;
    }

    p {
      color: $almost-black;
    }
  }
}

.winners-background {
  background-color: $red;

  .main-color-block{

    h2{
      color: $main-color;
    }
  }

}

.black-background {
  background-color: $main-color;
  border-top: 3px solid $red;
}

.extra-margin {
  margin-bottom: 3.750em;
  @media (max-width: 767px) {
    margin-bottom: 1.875em;
  }
}

.extra-margin-header {
  margin-top: 9.250em;
  @media (max-width: 767px) {
    margin-top: 6em;
  }
}

.extra-margin-sides {
  margin: 0 0.938em;
  @media (max-width: 767px) {
    margin: 0;
  }
}

.extra-padding {
  padding-bottom: 15px;
}

.no-margin {
  margin-left: 0!important;
}
