---
layout: default
title: Reglas del evento | Hackaton
description: Comportamiento general para los participantes.
id: Rules
---

<div class="container">
  <div class="row white-block extra-margin-header">
    <div class="col-lg-10 col-lg-offset-1">
      {% for rule_hash in site.data.rules %}
      {% assign rule = rule_hash[1] %}
      <h2>{{ rule.name }}</h2>
      <ol class="row">
        {% for r in rule.rules %}
        <li class="col-lg-12 extra-margin animated fadeIn wow">
          <h3>{{ r.title }}</h3>
          <p>{{ r.text }}</p>
        </li>
        {% endfor %}
      </ol>
      {% endfor %}
    </div>
  </div>
</div>
